/**
 * Apply to all
 */
* {
    font-family: "Crimson Text", serif;
}


/**
 * Site header
 */
 .wrapper .container {
    max-width: 80rem;
}

.site-header {
    text-align: center;
}

.site-title {
    color: $grey-color-dark;
    font-size: 50px;
    font-weight: 400;
    line-height: 1em;
    padding: 35px 0 20px 0;
    display: block;
}

.navbar {
    display: block;
}

.nav-items {
    display: block;
}

.nav-item {
    color: $grey-color-darkest;
    display: inline-block;
    padding: 1rem;
}

.post-nav {
    text-align: center;
    padding: 1rem;
}

.post-title {
    display: block;
}

/**
 * override column size for mobile
 */
@media (max-width: 40.0rem) {
    .row .column.column-33, .row .column.column-34 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    margin: 2rem 0;
    padding: 2rem 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Misc
 */
.preview-panel {
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid $color-initial;
    
    &:hover {
        border: 1px solid $grey-color-light;
    }
}
